body {
  background-color: #EEEEEE;
  font-size: 90%;
  text-align: justifed;
  background-image: url('../artwork/exclamation_48.png');
  background-repeat: no-repeat;
  background-position: 10px 10px;
  margin-left: 75px;
  margin-right: 10px;
  margin-top: 0;
  margin-bottom: 5px;
}

.button_bar {
  margin-top: 30px;
  text-align: right;
}

input[type=submit].delete:hover {
  border: 1px solid #C00000;
  background: #FFC0C0;
}

input[type=submit].delete:active {
  border: 1px solid #C00000;
  background: #FF8080;
}

.delete {
	width: 140px;
	margin: 4px 4px 4px 0;
}