html {
  overflow: auto;
  height: 100%;
}
blockquote {
  font-size: 100%;
}
.ok {
  font-size: 100%;
  color: black !important;
  width: 10em;
}
.objH {
  font-weight: bold;
  color: #316AC5;
}
.fback {
  font-style: italic;
  color: #C00000;
}
.label {
  color: #C00000;
}
.err {
  color: #C00000;
}
.usermk {
  padding-left: 8px;
  padding-right: 8px;
  background-color: #FFFF00;
  font-size: 100%;
  color: black;
}
.textmks {
  padding-left: 8px;
  padding-right: 8px;
  background-color: #EAEAEA;
  font-size: 100%;
  color: black;  
}
.mkpad {
  padding-top: 10px;
}
.answerindent {
  margin-left: 17px;
  margin-right: 15px;
}
.std {
  display: block;
  background-color: #f27000;
  color: white;
  width: 35px;
  text-align: center;
	padding-left: 4px;
	padding-right: 4px;
}
.exclude {
  color: red;
  text-decoration: line-through;
}
input.exclude, select.exclude {
  border: 1px solid red;
}
.box {
  width: 90%;
  background-color: #E4EEFC;
  border: 1px solid #B5C4DF;
  border-radius: 4px;
  text-align: left;
}
.scr_no {
  margin-left: 25px;
}
.screenbrk {
  color: #808080;
  font-size: 90%;
  height: 70px;
  width: 100%;
  border-top: 2px solid #808080;
}
.studentview {
  color: #C00000;
  font-size: 90%;
  font-weight: bold;
  padding-left: 15px;
  padding-bottom: 2px;
}
.staffview {
  color: #C00000;
  font-size: 90%;
  height: 70px;
  width: 100%;
  border-top: 2px solid #C00000;
}
.raw_textarea {
  display: none;
}
.textbox_answer {
  margin-top: 26px;
  margin-right: 26px;
  border: 1px solid #909090;
  padding: 2px;
  text-align: justify;
  overflow: scroll;
}
.thankyou {
  font-size: 450%;
  font-weight: bold;
  line-height: 140%;
}