body {
	color: #575757;
}

h1 {
	font-weight: normal;
	font-size: 140%
}

#summ_test {
	margin: 36px 0 0 90px;
}

#summ_test  a {
	text-decoration: none
}

.file {
	float: left;
	width: 375px;
	height: 74px;
	padding-left: 12px
}

a.blacklink:link {
	color: #000000
}

a.blacklink:visited {
	color: #000000
}

#summ_test a.blacklink:hover {
	color: #000000;
	text-decoration: underline
}

#summ_test, .file td, .mod-header td {
	font-size: 90%;
}

#summ_test h2 {
	font-weight: normal;
	font-size: 140%;
}

#summ_test p {
	font-size: 100%;
	color: black;
}

table.mod-header {
	border: 0;
	padding: 6px 0 2px 0;
	width: 100%;
	color: #1E3287;
	margin-bottom: 8px;
}

table.map-session td {
	white-space: nowrap;
}

hr.head-line {
	border: 0;
	height: 1px;
	color: #E5E5E5;
	background-color: #E5E5E5;
	width: 100%
}

.hr_line {
  border-bottom: 1px solid #C0C0C0;
  margin-left: 90px;
  width: 500px;
  display: block;
}

.subtext {
	color: #808080;
	line-height: 18px;
}

.warning-img {
	vertical-align: text-top;
	margin-top: -2px;
	width: 12px;
	height: 11px;
	padding-right: 5px;
}

.warning {
	color: #C55A11;
}

.labs {
	color: #ff6300;
}

.labs .current {
	color: #fff;
	background-color: #ff6300;
}

.finished {
  color: white;
  background-color: #538135;
  font-size: 80%;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 2px;
  padding-bottom: 2px;
}