.q_no {
	padding-top: 3px;
	padding-right: 4px;
	text-align: right;
	vertical-align: top;
	cursor: pointer;
}
.q_prev {
	color: #FF6300 !important;
}
.divider {
	font-weight: normal;
	color: #1E3287;
	padding-left: 6px;
}
.mapping {
	font-size: 90%;
	color: #FF6300;
	font-weight: normal;
}
.mapping_exclueded {
	color: red;
	font-weight: normal;
	text-decoration: line-through;
}
.unmapped {
	color: #C0C0C0;
}
a {
	text-decoration: none;
}
a.q_excluded {
	color: red;
	font-weight: normal;
	text-decoration: line-through;
}
a.q_ok {
	color: #FF6300;
	font-weight: normal;
}
.m_s {
  background-color: #FFDDDD;
}
.o_s {
	background-color: #E2EFD9;
}
.nm_s {
	background-color: white;
}
td.m_s {
	border: 1px solid #c0c0c0;
}
td.o_s {
	border: 1px solid #c0c0c0;
}
td.nm_s {
	border: 1px solid #c0c0c0;
}
td.obj {
	border: 1px solid #c0c0c0;
}
ul {
	margin-top: 0px;
	margin-bottom: 6px;
}
li {
	padding-left: 8px;
}
