/* General classes */
.hide {
	display: none;
}

.warning {
  color: #C00000;
}

/* Mapping */
.objectives li {
	margin: 10px;
	list-style: none;
  font-size: 90%;
  margin-bottom: 8px;
}

.objectives .top a {
  background: url('../artwork/blue_plus.png') no-repeat 0px 2px;
  padding-left: 16px;
  margin-bottom: 6px;
	color: #2B5BAB;
	font-weight: bold;
	text-decoration: none;
}

.objectives .top.open a {
  background: url('../artwork/blue_minus.png') no-repeat 0px 2px;
}

.objectives .top ul {
	padding-left: 25px;
}

.objectives .top ul li {
	margin: 0px;
}

.objheading {
  padding-left:10px;
  font-size: 150%;
  font-weight: bold;
  color: #316AC5;
  padding-top: 10px;
  border-top: 1px solid #C0C0C0;
}

/* Mapping page styles */

#obj_form h2, #obj_form ul {
	margin-left: 0;
	padding-left: 0;
}

#obj_form ul ul li {
	padding-left: 14px;
}