body {
  margin-left: 3px;
  margin-right: 8px;
}
html,body {
  font-size: 90%;
  height: 100%;
  background-color: #FCE699;
}
textarea {
  border: 1px solid #E6B10D;
  background-color: transparent;
  width: 100%;
  height: 300px;
}