.t {
  font-weight: bold;
  color: #316ac5;
}
.tablesorter td {
  padding-left: 6px;
  padding-right: 2px;
  padding-top: 4px;
  padding-bottom: 2px;
  vertical-align: top;
}
.o {
  color: #A5A5A5;
}
.q {
  line-height: 150%;
  cursor: pointer;
  color: #000000;
  background-color: white;
  -webkit-user-select: none;
  -moz-user-select: none;
}
.q:hover {
  background-color: #FFE7A2;
}
.q.highlight {
  background-color: #FFBD69;
}
.nobr {
  white-space: nowrap;
}
.l {
  background-image: url('../artwork/small_padlock.png');
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 22px !important;
}
.u {
  padding-left: 22px !important;
}
input.check_type {
  float: left;
  clear: left;
  margin-right: 0;
}
.check_label {
  display: block;
  float: left;
  margin-left: 10px;
  width: 80%;
  padding-bottom: 6px;
}
.hidden, .filter {
  display: none;
}