span.killer {
  float: none;
}

#content * {
	margin: 0;
	padding: 0;
}

.error {
  color: #c00000;
}

li.error {
	list-style: none;
	background: url('../artwork/small_yellow_warning_icon.gif') no-repeat left -1px;
	padding-left: 20px;
}

input.error {
	border: 1px solid #c00000;
}

label.error {
	display: none;
}

#major-error {
	width: 400px;
  margin: 0 auto;
  padding: 12px;
  border: 1px solid #ccc;
  background: url('../artwork/orange_alert_48.png') no-repeat 12px 12px
}

#major-error-inner {
  margin-left: 60px;
}

#major-error-inner h1 {
  color: #c80000;
}

.qline {
  cursor: pointer;
  color: #000;
}

#content .qline td {
  padding: 3px 0;
  font-size: 100%;
  width: 1px;
  color: black;
}

.qline td {
  font-size: 80%;
}

#content td.icon, td.icon {
  text-align: right;
  vertical-align: top;
  cursor: pointer;
  width: 14px;
  padding-right: 6px;
}

#content td.q_no, td.q_no {
  text-align: right;
  vertical-align: top;
  cursor: pointer;
  width: 20px;
  padding-right: 6px;
}

#content td.d, td.d {
  text-align: right;
  padding-left: 6px;
  padding-right: 14px;
  vertical-align: top;
  width: 100px;
  min-width: 100px;
}

#content .theme, .theme {
  font-weight: bold;
  color: #316AC5;
  margin: 0;
}

#content td.rnd, td.rnd {
  background-color: #DCE7F5;
  cursor: pointer;
}

#content td.s {
  padding-left: 10px;
}

#content td.t, td.t {
  white-space: nowrap;
  vertical-align: top;
  padding-left: 6px;
  padding-right: 6px;
  width: 140px;
}

#content td.m, td.m {
  text-align: right;
  vertical-align: top;
  padding-right: 4px;
  width: 46px;
  min-width: 46px;
}

#content td.l {
  vertical-align: top;
  width: auto;
}

#content tr.q_theme td, tr.q_theme td {
  padding-top: 19px;
}

#content tr.q_theme td.l, tr.q_theme td.l {
  padding-top: 3px;
}

.errmk {
  color: red;
  text-align: right;
  vertical-align: top;
}

.qline:hover {
	background-color: #FFE7A2;
}
.qline.highlight {
	background-color: #FFBD69;
}

#content .breakline td, .breakline td {
  padding-top: 9px;
  vertical-align: middle;
}

#content .breakline h4, .breakline h4 {
	font-weight: normal;
	padding: 0;
	margin: 4px 0 4px 8px;
	font-size: 80%;
	line-height: 100%;
	background: #fff url('../artwork/separator1x1.png') repeat-x left center;
}

#content .screenerror h4, .screenerror h4 {
  color: #C00000;
  font-weight: bold;
  background: #fff url('../artwork/separator1x1-error.png') repeat-x left center;
}

.opaque {
	background-color: #fff;
	padding-right: 4px;
  font-size: 130%;
}

.breakline:hover {
	background-color: #fff;
}

.breakline.line-selected, .breakline.line-selected h4, .breakline.line-selected span {
  background-color: #b3c8e8 !important;
}

#content tr.excluded td {
  color: #f00;
}

#content tr.experimental td {
  color: #808080;
}
.retired {
  color: #808080;
}
#content .warn {
  color: #C00000;
  padding-left: 1px;
}
#content .warnicon {
  text-align: right;
}
.bullet {
	line-height: 150%;
	background-image: url('../artwork/bullet_outline.gif');
	background-repeat: no-repeat;
  background-position: 15px center;
	padding-left: 35px;
}
.greybullet {
	line-height: 150%;
	background-image: url('../artwork/grey_bullet_outline.gif');
	background-repeat: no-repeat;
  background-position: 15px center;
	padding-left: 35px;
	color: #808080;
}
.killer_icon {
	width: 17px;
  background-image: url('../artwork/skull_16.png');
	background-repeat: no-repeat;
	background-position: 1px center;
}
.reports_header {
  margin-top: 12px;
  margin-bottom: 5px;
  padding-left: 4px;
  background-color: #EEEEEE;
	border-bottom: 1px solid #E2E4E7;
}
#stats_menu select {
  border: 1px solid #ABADB3;
}
