.menu_list {
	margin-top: 20px;
}
.greymenuitem a {
	cursor: text!important;
}
#statuses {
	list-style: none;
	padding-left: 0;
}
.selectable {
	padding: 2px 32px;
}
.selectable.default {
  background: transparent url('../artwork/icon_star_16.png') no-repeat 6px 1px;
}
.ui-sortable-helper {
	background-color:#B3C8E8
}
