html {
  height: 100%;
  width: 100%;
}
body {
  height: 100%;
  width: 100%;
}

input {
  font-size: 90%;
}
td {
  text-align: left;
}
p {
  margin: 2px 0 8px 0;
}
hr {
  background-color: #95AEC8;
  color: #95AEC8;
  height: 1px;
  width: 80%;
  border: 0;
}
form {
	margin-top: 25px;
}
.noimg {
	display: none;
	width: 0;
	height: 0;
}
.paper_title {
  font-size: 24pt;
  font-weight: bold;
  color: #295AAD;
}
.f {
  text-align: right;
  line-height: 180%;
  padding-right: 0.3em;
}
.w {
  font-size: 90%;
  color: #C00000;
  font-weight: bold;
}
.warn {
  color: #C00000;
  font-weight: bold;
}
.logout {
  float: right;
  font-weight: bold;
  color: #C00000;
  cursor: pointer;
}
a.logout {
  color: #C00000;
}
.testclip {
  color: #D27800;
  font-size: 90%;
  font-weight: bold;
}
.powered {
  font-family: Arial,sans-serif;
  color: #295AAD;
  font-size: 75%;
  bottom: 0;
  right: 30px;
  padding: 10px;
  position: absolute;
}
.bullet {
  width: 16px;
	height: 16px;
  padding-right: 8px;
}
input[type=button].notok:hover {
  border: 1px solid #C00000;
  background: #FF8080;
}
.photoid {
  background-color: black;
  color: white;
  font-weight: bold;
  width: 95px;
  font-size: 90%;
  text-align: center;
  margin-bottom: 4px;
}